
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";

@import "datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css";
@import "datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css";
@import "datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css";

@import "datatables.net-select-bs5/css/select.bootstrap5.min.css";

@import "izitoast/dist/css/iziToast.min.css";

@import "dropzone/dist/dropzone.css";

@import "intl-tel-input/build/css/intlTelInput.css";

.pagination-rounded {
    .page-link {
        border-radius: 30px !important;
        margin: 0 3px !important;
        border: none;
    }
}

.h-48{
    height: 48px !important;
}

.h-30{
    height: 30px !important;
}

.h-20{
    height: 20px !important;
}

.error-help-block{
    color: #d03f3f;
}



.dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0 !important;
    text-align: center;
    flex-direction: column;
}

.dropzone .dz-message {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.dropzone .dz-remove {
    z-index: 50;
}

.custom-dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.custom-dropzone .dz-message {
    text-align: center;
    font-size: 1rem;
    color: #666;
}

.custom-dropzone .dz-preview {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-dropzone .dz-preview .dz-image {
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.custom-dropzone .dz-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iti{
    width: 100%;
}

